/* .banner {
    position: fixed;
  
    background: #1a6db9;
    color: white;
  
    padding: 25px;
    


    
  } */

  body{
    background-image: url(./water-blue-ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;

  }

  *{

    text-align: center;
    align-items: center;
  }

  input{
  background-color: #ccc; 
  height: 30px;
    }
 #container{
 
  font-size: 20px;
  font-style: italic;
  margin:40px;
  
}

#btn{
  width: 80px;
  height: 35px;
  background-color:grey;
  border-radius: 10%
  
}

#weatherdescription, #tempreature, #humidty, #wind{
 padding: 5px;

}
h1{
  font-size: 25px;
  font-style: oblique;
  font-weight: lighter;
  color: white;
  margin: 50px;
}    

#cityname{
  font-size: 30px;
}

.img{
  width: 40px;
  height: 50px;
  
}

.display{
  display: inline-flex;
}