/* .banner {
    position: fixed;
  
    background: #1a6db9;
    color: white;
  
    padding: 25px;
    


    
  } */

  body{
    background-image: url(./water-blue-ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;

  }

  *{

    text-align: center;
  }

  input{
  background-color: #ccc; 
  height: 30px;
    }
#container{
  width: 300px;
  height: 300px;
  border: 1px solid black;

}
    